// ==================================================
// Basic Styles
// ==================================================
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: $selection;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $selection;
  color: #fff;
  text-shadow: none;
}

body {
  font: 14px/24px '$font', sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: $bg-body;
}

fieldset {
  margin-bottom: 1em;
}

// ==================================================
// Header
// ==================================================

header {
  #logo { float: left; margin-right: 2em; }

  #name-and-slogan {
    font-size: 2em;
    padding-top: 2em;
  }
}

// ==================================================
// Navigation
// ==================================================

#navigation {
  clear: both;
  h2 { display: none; }

  #secondary-menu {
    position: absolute;
    top: 20px;
    right: 0;
  }
}

// ==================================================
// Main
// ==================================================
#main {
  clear: both;
}
